.signin {
  display: flex;
  justify-content: space-between;

  & .signin-hero {
    border: 1px solid #000;
    width: 50vw;
    height: 100vh;
    // vertical-align:middle;

    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }


  & .signin-form {
    & form {
      position: relative;
      border: 1px solid #000;
      width: 50vw;
      height: 100vh;
      // margin: 2rem;
      padding: 5rem;
      // display: flex;
      // flex-direction: column;
      // align-items:center;
      // align-items: stretch;
  
      & .error-message {
        position: absolute;
        color: red;
        top: 7%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

  }
}
